/* @import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap'); */

#page1{
  background: url("../images/sac.gif") no-repeat;
  height: 590px;
  background-size: cover;
  background-position: center;
  position: relative;

}
#page2{
  background: url("../images/classroom_edit.jpg") no-repeat;
  height: 594px;
  background-size: cover;
  background-position: center;
  position: relative;
}
#page3{
  background: url("../images/graduation_edit.jpg") no-repeat;
  height: 225px;
  background-size: cover;
  background-position: center;
  position: relative;
}
}

.container-fluid-navbar{
  color: white;
  background-color: #015568;
  text-align: center;
}
.container-fluid-footer{
  color:white;
  background-color: #015568;
  text-align: center;
}
.nav-button{
  background-color: #015568; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

body{



  /* background-color: yellow;
  color: blue; */

}

/* h1{
  font-family: 'Water Brush';
  color: white ;
  margin: 600px;
} */

/* .sidebar {
  color: red;
  margin: 100px;
}
.css-box-shadow{
  Paste from google
} */
